__pycache__
*.pyc
.venv
venv
.env
*.csv
!sample_for_dashboard.csv  # Include this specific CSV
.DS_Store
*.log
*.tar.gz
*.zip
data/
notebooks/
models/
*.ipynb
base64
client
dash
io
joblib
np
os
pd
px
server