__pycache__/
*.pyc
.venv/
venv/
.env
*.csv
!data/sample_for_dashboard.csv
.DS_Store
*.log
*.tar.gz
*.zip
models/local_outlier_factor.pkl
*.csv
*.tar.gz
__pycache__
*.ipynb
base64
client
dash
io
joblib
np
os
pd
px
server
*/
